{% extends "base.html" %}

{% block title %}Fundstrap{% endblock %}

{% block content %}

{% verbatim %}

<div class="header-container">
    <header class="wrapper clearfix">
        <h1 class="title"><a href="/">Fund<span style="color: #7BF0A3;">$</span>trap</a></h1>
        <nav>
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>
</div>

<div class="main-container">
    <div class="main wrapper clearfix">
        <article>
            <section>
                <h1>A Platform For Interest Groups &amp; Sponsors.</h1>
                <p>Fundstrap helps raise funding for interest groups by providing a platform which accelerates the process of matching sponsors/donors with desirable interest groups.</p>
            </section>
            <hr />
            <table>
                <tr>
                    <td>
                        <div class="large-icon"><span class="glyphicons parents"><i></i></span></div>
                    </td>
                    <td>
                        <section>
                            <h2>Matching</h2>
                            <p>The Fundstrap platform acts as an aggregator for all interest groups and sponsors/donors with their detailed profiles, allowing them to get matched with desirable parties.</p>
                        </section>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="large-icon"><span class="glyphicons coins"><i></i></span></div>
                    </td>
                    <td>
                        <section>
                            <h2>Convenience</h2>
                            <p>The Fundstrap platform provides a smooth flow for fundraising, as well as features to conveniently and effectively manage and keep track of sponsorships, ensuring the synchronization of fundraising steps between interest groups and sponsors/donors.</p>
                        </section>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="large-icon"><span class="glyphicons group"><i></i></span></div>
                    </td>
                    <td>
                        <section>
                            <section>
                                <h2>Collaboration</h2>
                                <p>Fundstrap, emcompassing crowdfunding capabilities, allows the collaboration between multiple interest groups and multiple sponsors to effectively gather enough funding for a single big event or cause.</p>
                            </section>
                        </section>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="large-icon"><span class="glyphicons shield"><i></i></span></div>
                    </td>
                    <td>
                        <section>
                            <h2>Protection</h2>
                            <p>The Fundstrap platform protects sponsors/donors with a rating and feedback system on the capability and credibility of listed interest groups. Sponsors can also apply for a percentage of “refund” through our platform, if the interest groups did not fulfil their initial expectations.</p>
                        </section>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="large-icon"><span class="glyphicons eye_open"><i></i></span></div>
                    </td>
                    <td>
                        <section>
                            <h2>Privacy</h2>
                            <p>Interest groups and sponsors/donors can share their detailed information without worrying about leaking sensitive information, because the Fundstrap platform offers high level security and different privacy options, so that only relevant and safe information will be shared among users.</p>
                        </section>
                    </td>
                </tr>
            </table>
        </article>
        <aside>
            <h2>Interested?</h2>
            <h3>Join our mailing list and stay tuned!</h3>
            <input name="email" autocomplete="off" type="text" placeholder="Your E-mail Address" class="text-input">
            <div class="btn-subscribe"><a href="#">Subscribe</a></div>
        </aside>
    </div>
</div>

<div class="footer-container">
    <footer class="wrapper">
        <h3>Copyright 2013 &copy; <a href="/">Schoolax Inc.</a></h3>
    </footer>
</div>

{% endverbatim %}

{% endblock %}
